.navbar-user {
    background-color: #DFEEF1;
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-user h1 {
    margin: 0;
  }
  
  .navbar-user ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-user ul li {
    display: inline;
    margin-right: 30px;
  }
  
  .navbar-user ul li a {
    text-decoration: none;
    color: black;
  }
  
  .navbar-user ul li a:hover {
    color: #ff8c00;
  }